@media (min-width: 576px) {
	/* Max width */
	.header, .nav, .wrapper-inside, .side-left, .side-right, .cta-items, .photo-items, .container-fluid, .container-fluid-result, .container-footer, .subfooter-content, .main-title h1, .text-items, .text-item-two, .charts-container, .container-video, .page-holder, .container-procedure-expect{
		max-width: 550px;
	}
	/* Main navigation */
	.menu-item-burger a {
		padding-left: 40px;
	}
	.nav-logo {
		margin: 0;
	}
	/* Section contents*/
	.contents-of-content a, .contents-of-content-result a {
		padding: 1rem 2rem;
	}
	/* Section counter */
	.counter-container {
		width: 550px;
	}
	.counter-items {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	}
	.counter-item {
		height: 300px;
		width: 200px;
	}
	.count {
		font-size: 70px;
	}
	/* Footer */
	.footer-menu {
		grid-template-columns: repeat(3, 1fr);
	}
	/* Side sakura */
	.main-title h1 {
		padding: 30px 0;
	}
	/*Extras*/
	.content-side h2 {
		font-size: 28px;
	}
}
@media (min-width: 768px) {
	/* Max width */
	.header,.nav, .wrapper-inside, .side-left, .cta-items, .side-right, .photo-items, .photo-item, .charts-container, .container-video, .container-procedure-expect{
		max-width: 700px;
	}
	.nav-link-burger {
		padding: 0 50% 0 5%;
	}
	.homepage-slider, .wrapper-outer, .wrapper-inside {
		height: 1100px;
	}
	.side-left {
		height: 450px;
	}
	.cta-item {
		justify-content:space-around;
		align-items: center;
		padding-left: 30px;
	}
	.cta-item h2 {
		font-size: 1.3em;
	}
	.photo-items {
		height: 500px;
	}
	.photo-item img {
		width: 100%;
		height: auto;
	}
	/* Section contents*/
	.container-fluid {
		display: flex;
		flex-direction: row;
		column-gap: 4%;
    	row-gap: 30px;
		max-width: 720px;
	}
	.container-fluid-result {
		max-width: 720px;
		padding-bottom: 40px;
	}
	.container-fluid-faq {
		width: 720px;
	}
	.image-content {
		width: 50%;
		margin: auto 0;
	}
	.image-content-result {
		width: 100%;
	}
	.text-content {
		width: 50%;
	}
	.contents-of-content h2 {
		font-size: 28px;
	}
	.text-content-result {
		width: 100%;
	}
	/* Section counter */
	.counter-container {
		width: 750px;
	}
	.counter-items {
		flex-wrap: nowrap;
	}
	/* Footer */
	.container-footer {
		max-width: 750px;
	}
	.footer-logo {
		margin: 0;
		padding-left: 30px;
	}
	.footer-menu {
		grid-template-columns: repeat(6, 1fr);
	}
	.footer-item {
		text-wrap: nowrap;
	}
	.subfooter-content {
		justify-content: start;
		min-width: 750px;
		padding-left: 20px;
	}
	/* Side sakura */
	.main {
		padding-bottom: 30px;
	}
	.container-sakura {
		display: flex;
		flex-direction: row;
		align-items: start;
		padding: 0;
	}
	.main-info {
		padding-top: 14vh;
		z-index: 10;
	}
	.main-title {
		max-width: 50%;
		padding:0 10px 0 5vw;
	}
	.main-title h1 {
		font-size: 50px;
		margin: 0;
	}
	.main-text {
		min-width: 70%;
		width: 70%;
		justify-content: start;
	}
	.text-items {
		flex-wrap: nowrap;
		min-width: 100%;
	}
	.text-item {
		max-width: 100%;
	}
	.text-item-two {
		max-width: 100%;
		padding: 30px 30px 30px 5vw;
		margin: 0;
	}
	.main-img {
		position: absolute;
		top: 14vh;
		left: 49vw;
		height: auto;
		max-width: 40vw;
		z-index: 1;
	}
	.main-img img {
		height: auto;
		width: 40vw;
	}
	.physicians-text-item {
		min-width: 60%;
		width: 70%;
	}
	.physicians-img {
		position: absolute;
		top: 12vh;
		left: 49vw;
		max-width: 45vw;
		max-height: 500px;
		z-index: 1;
	}
	.physicians-img img {
		width: 100%;
		max-height: 500px;
	}
	/* Extras*/
	.charts {
		justify-content: space-around;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.chart, .chart img {
		width: 300px;
	}
	.circle img{
		width: 80px;
	}
	.content-side h2{
		font-size: 2rem;
	}
	.acf-innerblocks-container h2 {
		font-size: 28px;
	}
	.page-holder {
		max-width: 720px;
		width: 720px;
		padding: 0px;
	}
	.flexible {
		flex-direction: row;
		justify-content: start;
		padding: 20px 0px;
	}
	.inner-container {
		max-width: 50%;
	}
	.inner-container h2 {
		font-size: 2rem;
	}
	.inner-container, .info {
		padding: 20px;
	}
	.email {
		padding-bottom: 30px;
	}
	.containere-fluid-procedure {
		flex-direction: column;
		padding-bottom: 50px;
	}
	.text-content-procedure, .image-content-procedure {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.header {
		font-size: 14px;
	}
	.nav {
		max-width: 920px;
	}
	.burger-btn {
		display: none;
	}
	.navbar {
		display: block;
	}
	.nav {
		min-width: 100%;
	}
	.homepage-slider {
		max-height: 60vh;
		margin-top: 10vh;
	}
	.wrapper-outer, .background-shape, .container, .wrapper-inside {
		max-height: 60vh;
	}
	.container {
		top: 0;
	}
	.wrapper-inside {
		flex-direction: row;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 920px;
		padding-top: 0;
	}
	.side-left {
		height: 50vh;
		width: 470px;
	}
	.cta-items {
		width: 450px;
		min-height: 50vh;
	}
	.cta-item {
		display: flex;
		justify-content: space-between;
		align-items: start;
		padding: 10px 0 0 20px;
	}
	.cta-content {
		padding: 1em;
	}
	.cta-btn {
		padding-left: 1em;
	}
	.arrow-items {
		flex-direction: column;
		min-width: 100%;
	}
	.progress-line {
		height: 90%;;
	}
	.progress-line::before {
		width: 6px;
		right: -3px;
	}
	.side-right {
		height: 50vh;
		width: 500px;
		padding: 0;
	}
	.photo-items {
		min-height: 50vh;
		width: 500px;
	}
	.photo-item img {
		min-height: 50vh;
	}
	.active-photo {
		min-height: 50vh;
	}
	/* Section contents*/
	.container-fluid, .container-fluid-result {
		max-width: 920px;
	}
	.container-fluid-faq {
		width: 920px;
	}
	.container-fluid-result {
		display: flex;
		flex-direction: row;
		column-gap: 4%;
		padding-bottom: 60px;
	}
	.image-content-result{
		width: 50%;
		margin: auto 0;
	}
	.contents-of-content h2{
		font-size: 48px;
	}
	.text-content-result, .text-content-faq {
		width: 50%;
	}
	/* Section counter */
	.counter-container {
		width: 920px;
	}
	/* Footer */
	.container-footer {
		min-width: 920px;
		grid-template-columns: 1fr 1fr;
	}
	.footer-logo {
		grid-column: 1 / -1;
		margin: 0;
	}
	.social-media {
		margin: 0 auto;
	}
	.subfooter-content {
		min-width: 920px;
		padding-left: 10px;
	}
	/* Side sakura */
	.main-title {
		width: 55vw;
	}
	.main-title h1 {
		font-size: 60px;
	}
	.text-item {
		width: 300px;
		max-width: 400px;
		padding: 35px 12px;
	}
	.text-item-two {
		padding: 30px 60px 30px 5vw;
	}
	.main-img {
		height: 420px;
	}
	/* Extras */
	.charts-container, .container-video {
		max-width: 960px;
	}
	.main-title-extras h1{
		padding: 70px 0;
	}
	.video-block {
		padding: 80px 0px 100px 0px;
	}
	.container-video {
		flex-direction: row;
		justify-content: space-between;
	}
	.video-side {
		height: 100%;
		max-width: 54%;
		margin: 0;
	}
	.content-side {
		max-width: 45%;
	}
	.content-side h2 {
		font-size: 48px;
	}
	.heading-content {
		width: 50%;
	}
	.acf-innerblocks-container {
		height: 350px;
	}
	.acf-innerblocks-container h2 {
		font-size: 48px;
	}
	.page-holder {
		max-width: 920px;
		width: 920px;
	}
	.content {
		flex-direction: row;
		padding: 0;
	}
	.flexible {
		justify-content: center;
		padding: 0;
	}
	.text-content-procedure .contents-of-content{
		display: flex;
		flex-direction: row;
		padding: 20px;
	}
	.text-content-procedure .contents-of-content h2 {
		min-width: 50%;
	}
	.container-procedure-expect {
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		max-width: 920px;
	}
	.container-expect-left {
		width: 45%;
	}
	.left-title {
		width: 100%;
	}
	.container-expect-right {
		width: 45%;
	}
}
@media (min-width: 1200px) {
	.header {
		font-size: 16px;
	}
	.nav {
		max-width: 1180px;
	}
	.homepage-slider, .wrapper-outer, .background-shape, .container, .wrapper-inside{
		max-height: 60vh;
	}
	.wrapper-inside {
		max-width: 1180px;
	}
	.side-left {
		height: 100%;
		width: 550px;
	}
	.side-right {
		height: 100%;
		width: 550px;
	}
	.cta-items {
		height: 100%;
		width: 550px;
		padding: 0 0 3.5vh 0;
	}
	.cta-item {
		width: 100%;
		padding-top: 0;
	}
	.cta-content h2 {
		font-size: 2.3em;
	}
	.cta-content p{
		padding: 0;
	}
	.arrow-items {
		padding: 0px;
	}
	.photo-items {
		min-height: 50vh;
		width: 550px;
	}
	.photo-item img {
		min-height: 60vh;
		width: 550px;
	}
	.active-content {
		min-height: 60%;
	}
	.active-photo {
		min-height: 100%;
	}
	/* Section contents*/
	.container-fluid, .container-fluid-result {
		max-width: 1180px;
		justify-content: space-between;
	}
	.container-fluid-faq {
		width: 1180px;
	}
	.text-content {
		padding-right: 40px;
	}
	.contents-of-content p, .contents-of-content li {
		font-size: 18px;
	}
	/* Section counter */
	.counter-container {
		width: 1180px;
		max-height: 400px;
	}
	.counter-item {
		width: 300px;
		margin-bottom: 0;
	}
	/* Footer */
	.container-footer {
		min-width: 1180px;
		margin-bottom: 10px;
	}
	.footer-logo {
		padding-left: 50px;
	}
	.footer-menu {
		padding-left: 30px;
	}
	.subfooter-content {
		min-width: 1180px;
		padding-left: 35px;
	}
	/* Side sakura*/
	.main {
		padding-bottom: 60px;
	}
	.main-info {
		max-width: 1180px;
	}
	.main-title h1 {
		max-width: 100%;
	}
	.main-title, .text-item-two {
		padding-left: 0;
	}
	.main-title::before, .main-text::before, .physicians-text-item::before {
		position: absolute;
		content: "";
		top: 0;
		left: -600px;
		height: 100%;
		width: 1000px;
		z-index: -10;
	}
	.main-text {
		min-width: 60%;
		width: 65%;
	}
	.physicians-text-item {
		min-width: 60%;
		width: 60%;
	}
	.text-item-two {
		padding: 50px 30px 50px 0px;
	}
	.physicians-img {
		max-width: 49vw;
		max-height: 547px;
	}
	.physicians-img img {
		max-height: 547px;
	}
	/* Extras */
	.charts-container, .container-video {
		max-width: 1180px;
	}
	.page-holder {
		max-width: 1180px;
		width: 1180px;
	}
	.inner-container h2 {
		font-size: 3rem;
	}
	.containere-fluid-procedure {
		padding-bottom: 90px;
	}
	/* Side the-procedure */
	.container-procedure-expect {
		max-width: 1180px;
	}
}
@media (min-width: 1400px) {
	.nav, .wrapper-inside, .container-fluid, .container-fluid-result, .main-info, .charts-container, .container-video, .page-holder, .container-procedure-expect {
		max-width: 1300px;
	}
	.container-footer, .subfooter-content {
		min-width: 1300px;
	}
	.container-fluid-faq, .counter-container, .page-holder {
		width: 1300px;
	}
}