:root {
	--main-color: #00305c;
	--secondary-color: #19a7a7;
	--thirdth-color: #0b6f6f;
	--background-color: #f4f4f4;
	--slider-count: 3;
	--progress-top: 0%;
}


*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: "Public Sans", sans-serif;
	background-color: var(--background-color);
	font-size: 1rem;
	line-height: 1.5;
}

.header {
	z-index: 1000;
}

.burger-btn {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0px;
	padding: 24px;
	height: 12vh;
	width: 12vh;
	background-color: var(--thirdth-color);
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;
}
.burger-btn__box {
	position: relative;
	width: 40px;
	height: 30px;
}
.burger-btn__bars,
.burger-btn__bars::after,
.burger-btn__bars::before {
	position: absolute;
	right: 0;
	height: 3px;
	content: "";
	background-color: #fff;
	transition: width 0.3s;
}
.burger-btn__bars {
	width: 100%;
}
.burger-btn__bars::after {
	top: 13px;
	width: 100%;
}
.burger-btn__bars::before {
	top: 27px;
	width: 100%;
	transition-delay: 0.1s;
}

.navbar-btns-burger {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	font-weight: bold;
	min-width: 100vw;
	min-height: 100vh;
	z-index: 1000;
}

.nav-xmark {
	display: flex;
	justify-content: end;
	align-items: center;
	color: var(--background-color);
	background-color: var(--main-color);
	width: 100vw;
	margin-bottom: 5px;
}

.nav-xmark i {
	padding: 20px;
	font-size: 45px;
}

.nav-xmark i:hover {
	color: #c2c2c2;
}

.nav-item-burger {
	list-style-type: none;
	background-color: var(--background-color);
	margin-bottom: 3px;
}

.nav-link-burger {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30% 0 5%;
}

.nav-link-burger:hover {
	color: var(--secondary-color);
}

.nav-link-burger img {
	padding: 20px;
}

.nav-link-burger, .btn-contact-burger {
	text-decoration: none;
	color: var(--main-color);
}

.nav-link-burger-toggle {
	color: var(--secondary-color);
}

.dropdown-menu-burger {
	display: none;
	width: 100vw;
	background-color: #fff;
	list-style-type: none;	
}

.dropdown-menu-burger-toggle {
	display: block;
}

.menu-item-burger {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 0% 30% 0% 5%;
}

.menu-item-burger a {
	text-decoration: none;
	min-width: 100vw;
	min-height: 100%;
	color: var(--main-color);
	padding: 2% 0;
}

.menu-item-burger:hover, .menu-item-burger a:hover {
	background-color: var(--main-color);
	color: var(--background-color);
}

.contact-burger {
	display: flex;
	justify-content: start;
	align-items: start;
	height: 100vh;
	width: 100vw;
	background-color: var(--background-color);
}

.btn-contact-burger {
	text-transform: capitalize;
	background-color: #fff;
	padding: 1rem 2rem;
	margin: 1rem;
	border: 2px solid var(--secondary-color);
	border-radius: 56px;
	outline: 0;
	transition: color .3s, background-color .3s;
}

.btn-contact-burger:hover {
	background-color: var(--thirdth-color);
	color: var(--background-color);
}

.container-wrapper {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;
}

.header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12vh;   /*TODO: try to change height dynamicly*/
	width: 100%;
	font-size: 14px;
	background-color: #fff;
}


.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12vh;
	width: 100%;
}

.nav-logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px;
	aspect-ratio: auto 157.394 / 62.096;
	width: 157px;
}

.navbar {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navbar a {
	text-decoration: none;
	text-transform: capitalize;
}

.navbar-btns {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 0 35px;
	font-weight: 700;
	min-width: 150px;
	text-align: center;
	color: #00305c;
}

.navbar {
	display: none;
}

.nav {
	display: flex;
	flex-direction: row;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
}

.nav-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	list-style-type: none;
}


.nav-link {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: var(--main-color);
	transition: color .3s;
}

.nav-link:hover {
	color: var(--secondary-color);
}
.nav-link img {
	padding: 5px;
}

.dropdown-menu {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 9vh;
	left: 5px;
	white-space: nowrap;
	background-color: var(--background-color);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 20px 0.1px rgb(164, 162, 162);;
	z-index: 100;
}

.dropdown-menu-toggle {
	display: flex;
}

.menu-item {
	list-style-type: none;
	display: flex;
	justify-content: start;
	align-items: center;
}

.menu-item:hover, .menu-item a:hover{
	background-color: #00305c;
	color: var(--background-color);
}

.menu-item a {
	width: 100%;
	color: var(--main-color);
	text-align: start;
	padding: 20px 50px 20px 20px;
}


.menu-item span:hover {
	color: var(--background-color);
}

.btn-contact {
	padding: 16px;
	border-radius: 56px;
	border: 1px solid #20c7c7;
	color: var(--main-color);
	transition: background-color .3s, color .3s;
}

.btn-contact:hover {
	background-color: #0b6f6f;
	color: #fff;
}

/* Homepage slider */

.wrapper-outer {
	position: relative;
	width: 100vw;
	max-height: 100vh;
}

.background-shape {
	display: flex;
	align-items: end;
	justify-content: end;
	background-color: rgba(232, 246, 246, 1);
	width: 100vw;
	height: 100vh;
}

.background-shape img {
	width: auto;
	max-height: 100%;
}

.container {
	position: absolute;
	top: 12vh;
	left: 0;
	height: 88vh;
	width: 100%;
}

.wrapper-inside {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	max-width: 400px;
	min-height: 100%;
	margin: 0 auto;
}

.side-left {
	position: relative;
	width: 100%;
	max-height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}

.cta-items {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	margin: 4vh 0 0 5vw;
	width: 90%;
	min-height: 100%;
}

.cta-item {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}
.cta-content {
	padding-bottom: 40px;
}

.cta-content span {
	
	align-items: start;
}

.cta-content h2, .cta-content p {
	padding: 10px 0px;
}

.cta-btn {
	position: relative;
	text-decoration: none;
	color: #000;
	width: 100%;
	padding: 15px;
}

.cta-btn::before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--secondary-color);
}
.inner {
	position: relative;
	text-align: end;
	z-index: 10;
}

.arrow-items {
	display: flex;
	align-items: end;
	justify-content: end;
	min-width: 100%;
	color: var(--secondary-color);
}

.arrow-up, .arrow-down {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border: 1.5px solid var(--secondary-color);
	padding: 10px;
	transition: background-color .3s, color .3s;
}

.arrow-up:hover, .arrow-down:hover {
	background-color: var(--secondary-color);
	color: #fff;
}

.progress-line {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 2px;
	background-color: var(--secondary-color);
	margin-left: 10px;
	margin-top: 10px;
}

.progress-line::before {
	content: '';
	position: absolute;
	top: var(--progress-top);
	left: -2px;
	width: 4px;
	height: calc(100% / var(--slider-count));
	background-color: var(--secondary-color);
	border-radius: 3px;
	transition: .3s ease-out all;

}

.side-right {
	position: relative;
	max-width: 100vw;
	max-height: 35vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

 .photo-items {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: auto;
}

.photo-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35vh;
	width: 100%;
	overflow: hidden;
}

.inactive {
	display: none;
}	

.photo-item img {
	width: 100%;
	height: auto;
	object-fit: cover;
} 

/* Media */

@media (min-width: 576px) {
	.header {
		height: 12vh;
	}
	.navbar {
		display: none;
	}
	.wrapper-inside, .cta-items, .photo-items{
		max-width: 600px;
	}
	.cta-items {
		max-height: 40vh;
	}
	.side-right, .photo-item img {
		max-height: 60vh; 
		padding: 0px;
	}
	.photo-item {
		height: 45vh;
	}
}

@media (min-width: 768px) {
	.navbar {
		display: none;
	}
	.nav-link-burger {
		padding: 0 50% 0 5%;
	}
	.wrapper-inside, .cta-items, .photo-items{
		max-width: 700px;
	}
	.cta-item {
		justify-content:space-around;
		align-items: center;
	}
	.side-right, .photo-item img {
		max-height: 70vh;
	}
}

@media (min-width: 992px) {
	.burger-btn {
		display: none;
	}
	.header {
		height: 12vh;
		font-size: 14px;
	}
	.navbar {
		display: block;
	}
	.wrapper-outer, .background-shape {
		max-height: 50vh;
		margin-top: 12vh;
	}
	.container, .wrapper-inside {
		max-height: 50vh;
	}
	.container {
		top: 0;
	}
	.wrapper-inside {
		flex-direction: row;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 920px;
	}
	.side-left {
		height: 45vh;
		width: 460px;
		justify-content: space-between;
		align-items: center;
	}
	.cta-items {
		width: 435px;
		margin: 0 0 0 25px;
	}
	.cta-item {
		justify-content: center;
		align-items: start;
		height: 40vh;
	}

	.arrow-items {
		flex-direction: column;
		min-width: 100%;
		cursor: pointer;
	}
	.progress-line {
		height: 90%;;
	}
	.progress-line::before {
		width: 6px;
		right: -3px;
	}
	.side-right {
		max-height: 100%;
		max-width: 500px;
		padding: 0;
	}
	.photo-item {
		max-height: 100%;
		max-width: 500px;
	}
	.photo-item img {
		width: auto;
		height: 50vh;
	}
}

@media (min-width: 1200px) {
	.header {
		font-size: 16px;
	}
	.homepage-slider {
		max-height: 80vh;
	}
	.wrapper-inside {
		max-width: 1100px;
	}
}