:root {
	--main-color: #00305c;
	--secondary-color: #19a7a7;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: "Public Sans", sans-serif;
	background-color: #d9d4d4;
	font-size: 1rem;
	line-height: 1.5;
}

.burger-btn {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0px;
	padding: 24px;
	height: 12vh;
	width: 12vh;
	background-color: #0b6f6f;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;
}
.burger-btn__box {
	position: relative;
	width: 40px;
	height: 30px;
}
.burger-btn__bars,
.burger-btn__bars::after,
.burger-btn__bars::before {
	position: absolute;
	right: 0;
	height: 3px;
	content: "";
	background-color: #fff;
	transition: width 0.3s;
}
.burger-btn__bars {
	width: 100%;
}
.burger-btn__bars::after {
	top: 13px;
	width: 100%;
}
.burger-btn__bars::before {
	top: 27px;
	width: 100%;
	transition-delay: 0.1s;
}

.navbar-btns-burger {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	min-width: 100vw;
	min-height: 100vh;
	z-index: 1000;
	padding: 10%;
}

.nav-main-burger {
	margin-bottom: 10%;
	font-size: 20px;
}

.nav-item-burger, .dropdown-menu-burger {
	list-style-type: none;
}

.dropdown-menu-burger {
	display: none;
}

.container {
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;
}

.header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12vh;   /*TODO: try to change height dynamicly*/
	width: 100%;
	font-size: 16px;
	background-color: #fff;
}


.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12vh;
	width: 100%;
}

.nav-logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px;
	aspect-ratio: auto 157.394 / 62.096;
	width: 157px;
}

.navbar {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navbar a {
	text-decoration: none;
	text-transform: capitalize;
}

.navbar-btns {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 0 35px;
	font-weight: 700;
	min-width: 150px;
	text-align: center;
	color: #00305c;
}

.navbar {
	display: none;
}

.nav {
	display: flex;
	flex-direction: row;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
}

.nav-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	list-style-type: none;
}


.nav-link {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: var(--main-color);
	transition: color .3s;
}

.nav-link:hover {
	color: var(--secondary-color);
}
.nav-link img {
	padding: 5px;
}

.dropdown-menu {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 9vh;
	left: 5px;
	min-width: 350px;
	background-color: #f4f4f4;
	box-shadow: 0px 0px 20px 0.1px rgb(164, 162, 162);;
	z-index: 100;
}

.dropdown-menu-toggle {
	display: flex;
}

.menu-item {
	list-style-type: none;
	display: flex;
	justify-content: start;
	align-items: center;
}

.menu-item:hover, .menu-item a:hover{
	background-color: #00305c;
	color: #f4f4f4;
}

.menu-item a {
	color: var(--main-color);
	text-align: start;
	padding: 20px;
}


.menu-item span:hover {
	color: #f4f4f4;
}

.btn-contact {
	padding: 16px;
	border-radius: 56px;
	border: 1px solid #20c7c7;
	color: var(--main-color);
	transition: background-color .3s, color .3s;
}

.btn-contact:hover {
	background-color: #0b6f6f;
	color: #fff;
}

/* Media */

@media (min-width: 576px) {
	.header {
		height: 12vh;
	}

	.navbar {
		display: none;
	}
}

@media (min-width: 768px) {
	.navbar {
		display: none;
	}
}

@media (min-width: 992px) {
	.burger-btn {
		display: none;
	}

	.header {
		height: 12vh;
		font-size: 14px;
	}

	.navbar {
		display: block;
	}
}

@media (min-width: 1200px) {
	.header {
		font-size: 16px;
	}
}